.logo {
    height: 35px;
}


.MuiPaper-root.MuiAppBar-root {
    background-color: rgba(5, 113, 220, 0.766);
    box-shadow: 0px 0px 8px 4px #1cc35ff3;
    position: sticky;
    top: 0;
    z-index: 10;
}

.MuiContainer-root.MuiContainer-maxWidthXl {
    padding: 5px 30px;
}

.Navlinks {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    color: rgb(255, 255, 255);
    background-color: rgba(47, 191, 86, 0.73);
}


.nav-link {
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-right: 40px;
    margin-left: 0px;
    margin-right: 35px;
}

.nav-link:hover {
    color: #f0f5f2f3;
}

.drawerLinks a {
    margin-top: 30px;
}

.active {
    color: rgb(0, 128, 255);
}

.MuiToolbar-root.MuiToolbar-regular {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 600px) and (max-width: 640px) {
    .aboutUs {
        margin-right: 0px !important;
    }
}